<button class="btn"><slot /></button>

<style is:global>
	.btn
	{
		display: inline-block;

		letter-spacing: 0.2em;
		border-radius: 9999px;
		border: 0;

		color: var(--clr-neutral-900);
		background-color: var(--clr-primary-400);

		line-height: 0;
		padding-block: 1.6em;


		cursor: pointer;
		transition: background-color 300ms, color 300ms, transform 200ms;
	}

	.btn:hover,
	.btn:focus-visible
	{
		background-color: var(--clr-neutral-900);
		color: var(--clr-primary-400);
	}

	.btn:active
	{
		transform: scale(0.925);
	}
</style>
