---
import Page from "@layouts/page.astro";
---

<Page title="FM Solutions">
	<Fragment slot="head">
		<meta name="application-name" content="Frontend Mentor Solutions">
		<meta name="description" content="Solutions to Frontend Mentor challenges.">
		<meta name="author" content="Sydist">
	</Fragment>

	<main>
		<h1>Frontend Mentor Solutions</h1>
	</main>
</Page>
