---
import Page from "@layouts/page.astro";
import ProductPreviewCard from "@components/product-preview-card.astro";
---

<Page title="Prodcut Preview Card Component">
	<Fragment slot="head">
		<link rel="preload"
			as="image"
			media="(min-width: 768px)"
			href="product-preview-card-component/product@desktop_2x.jpg"
			imageSrcSet="product-preview-card-component/product@desktop.jpg, product-preview-card-component/product@desktop_2x.jpg 2x">

		<link rel="preload"
			as="image"
			media="(max-width: 767px)"
			href="product-preview-card-component/product@mobile_2x.jpg"
			imageSrcSet="product-preview-card-component/product@mobile.jpg, product-preview-card-component/product@mobile_2x.jpg 2x">

		<link rel="preload" href="fonts/monsterrat/400.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="fonts/monsterrat/700.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="fonts/fraunces/700.woff2" as="font" type="font/woff2" crossorigin>
	</Fragment>
	<main>
		<ProductPreviewCard />
	</main>
</Page>

<style is:global>
	@font-face
	{
		font-family: body;
		src: local("Monsterrat"),
			url("fonts/monsterrat/400.woff2") format("woff2"),
			url("fonts/monsterrat/400.woff") format("woff");
		font-weight: 400;
	}

	@font-face
	{
		font-family: body;
		src: local("Monsterrat"),
			url("fonts/monsterrat/700.woff2") format("woff2"),
			url("fonts/monsterrat/700.woff") format("woff");
		font-weight: 700;
	}

	@font-face
	{
		font-family: heading;
		src: local("Fraunces Bold"),
			url("fonts/fraunces/700.woff2") format("woff2"),
			url("fonts/fraunces/700.woff") format("woff");
	}


	html {
		background: hsl(30, 38%, 92%);
		color: hsl(228, 12%, 48%);

		line-height: 1.6;

		display: grid;
		place-items: center;
	}

	h1, h2, h3
	{
		color: hsl(212, 21%, 14%);
		line-height: 1;
	}

	h1
	{
		font-size: 2rem;
	}
</style>
