---
import Page from "@layouts/page.astro";
import QRCodeCard from "@components/qr-code-card.astro";
---

<Page title="QR Code Component">
	<Fragment slot="head">
		<link rel="preload" href="/frontendsolutions/qr-code-component/qr-code.png" as="image" >
		<link rel="preload" href="/frontendsolutions/fonts/outfit/400.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/frontendsolutions/fonts/outfit/700.woff2" as="font" type="font/woff2" crossorigin>
	</Fragment>
	<main>
		<QRCodeCard />
	</main>
</Page>

<style is:global>
	@font-face
	{
		font-family: body;
		src:local("Outfit"),
			url("/frontendsolutions/fonts/outfit/400.woff2") format("woff2"),
			url("/frontendsolutions/fonts/outfit/400.woff") format("woff");
		font-weight: 400;
	}

	@font-face
	{
		font-family: heading;
		src:local("Outfit Bold"),
			url("/frontendsolutions/fonts/outfit/700.woff2") format("woff2"),
			url("/frontendsolutions/fonts/outfit/700.woff") format("woff");
		font-weight: 700;
	}

	html {
		background: hsl(212, 45%, 89%);
		color: hsl(220, 15%, 55%);

		display: grid;
		place-items: center;
	}
</style>
