---
import Page from "@layouts/page.astro";
import QRCodeCard from "@components/qr-code-card.astro";
---

<Page title="QR Code Component">
	<Fragment slot="head">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">
	</Fragment>
	<main>
		<QRCodeCard />
	</main>
</Page>

<style is:global>
	body {
		font-family: 'Outfit', sans-serif;
		background: hsl(212, 45%, 89%);

		display: grid;
		place-items: center;
		color: hsl(220, 15%, 55%);
	}
</style>
