---
import Page from "@layouts/page.astro";
import RatingCard from "@components/social-proof-section/rating-card.astro";
import ReviewCard from "@components/social-proof-section/review-card.astro";
---

<Page title="Social Proof Section">
	<Fragment slot="head">
		<link rel="preload" href="fonts/league_spartan/400.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="fonts/league_spartan/500.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="fonts/league_spartan/700.woff2" as="font" type="font/woff2" crossorigin>
	</Fragment>
	<main>
        <section class="wrapper testimonials" aria-label="Testimonials">
            <div class="testimonials__text fade-in">
                <h1>10,000+ of our users love our products.</h1>
                <p>We only provide great products combined with excellent customer service. See what our satisfied customers are saying about our services.</p>
            </div>
            <div class="testimonials__rating-cards fade-in" style="--delay:200ms;">
                <RatingCard subject="Reviews" rating="5" />
                <RatingCard subject="Report Guru" rating="5" />
                <RatingCard subject="BestTech" rating="5" />
            </div>
            <div class="testimonials__review-cards fade-in" style="--delay:400ms;">
                <ReviewCard name="Colton Smith" avatar="social-proof-section/image-colton.jpg">
                    We needed the same printed design as the one we had ordered a week prior.
                    Not only did they find the original order, but we also received it in time.
                    Excellent!
                </ReviewCard>
                <ReviewCard name="Irene Roberts" avatar="social-proof-section/image-irene.jpg">
                    Customer service is always excellent and very quick turn around. Completely
                    delighted with the simplicity of the purchase and the speed of delivery.
                </ReviewCard>
                <ReviewCard name="Anne Wallace" avatar="social-proof-section/image-anne.jpg">
                    Put an order with this company and can only praise them for the very high
                    standard. Will definitely use them again and recommend them to everyone!
                </ReviewCard>
            </div>
        </section>
	</main>
</Page>

<style is:global>
    @font-face {
        font-family: body;
        src: url('/frontendsolutions/fonts/league_spartan/400.woff2') format('woff2'),
            url('/frontendsolutions/fonts/league_spartan/400.woff') format('woff');
        font-weight: 400;
    }

    @font-face {
        font-family: body;
        src: url('/frontendsolutions/fonts/league_spartan/500.woff2') format('woff2'),
            url('/frontendsolutions/fonts/league_spartan/500.woff') format('woff');
        font-weight: 500;
    }

    @font-face {
        font-family: body;
        src: url('/frontendsolutions/fonts/league_spartan/700.woff2') format('woff2'),
            url('/frontendsolutions/fonts/league_spartan/700.woff') format('woff');
        font-weight: 700;
    }

    :root
    {
        --clr-primary-200: hsl(300, 43%, 22%);
        --clr-primary-600: hsl(333, 80%, 67%);

        --clr-neutral-400: hsl(303, 10%, 53%);
        --clr-neutral-800: hsl(300, 24%, 96%);
        --clr-neutral-900: hsl(0, 0%, 100%);

        
        background: 
            left top / 50vmax no-repeat url("/frontendsolutions/social-proof-section/bg-pattern-top-desktop.svg"), 
            right bottom / 50vmax no-repeat url("/frontendsolutions/social-proof-section/bg-pattern-bottom-desktop.svg")
            var(--clr-neutral-900);
            
        color: var(--clr-neutral-400);

        display: grid;
        place-content: start center;
        line-height: 1.4;
    }

    body
    {
        font-size: 1.125rem;
    }

    h1, h2, h3
    {
        color: var(--clr-primary-200);
        font-size: 2.375rem;
        line-height: 0.9;
    }

    .wrapper
    {
        max-width: 30.9375rem;
        margin: 5rem 0;
    }

    .testimonials
    {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .testimonials__text
    {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        text-align: center;
    }

    .testimonials__rating-cards,
    .testimonials__review-cards
    {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media (min-width: 64em)
    {
        :root
        {
            place-content: center;
        }

        .wrapper
        {
            max-width: 69.420rem;
        }

        .testimonials
        {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            gap: 4rem 2rem;
        }


        .testimonials__text
        {
            text-align: left;
        }

        .testimonials__text > :first-child
        {
            font-size: 3.25rem;
            max-width: 12ch;
        }

        .testimonials__text
        {
            max-width: 40ch;
        }


        .testimonials__rating-cards
        {
            max-width: fit-content;
        }

        .rating-card
        {
            gap: 2rem;
            flex-direction: row;
            padding-inline: 2rem;
        }

        .rating-card:nth-child(2)
        {
            transform: translateX(50px);
        }
        .rating-card:nth-child(3)
        {
            transform: translateX(100px);
        }

        

        .testimonials__review-cards
        {
            gap: 2rem;
            flex-direction: row;
            grid-column: 1 / 3;
        }

        .review-card:nth-child(2)
        {
            transform: translateY(16px);
        }
        .review-card:nth-child(3)
        {
            transform: translateY(32px);
        }

    }
</style>
