<article>
	<img src="qr-code-component/qr-code.png" alt="A QR code that links to Frontend Mentor's landing page">
	<h1>Improve your front-end skills by building projects</h1>
	<p>Scan the QR code to visit Frontend Mentor and take your coding skills to the next level</p>
</article>

<style is:global>
	article
	{
		box-sizing: border-box;
		background: white;

		text-align: center;
		padding: 1rem;
		padding-bottom: 2.5rem;
		max-width: 20rem;

		box-shadow: 10px 10px 15px 5px #00000011;
		border-radius: 1.2rem;
	}

	img
	{
		border-radius: .6rem;
	}


	h1
	{
		color: hsl(218, 44%, 22%);
		margin: 1.5rem auto 1rem;
		font-size: 1.4rem;
		max-width: 12em;
	}

	p
	{
		margin: 0 auto;
		font-size: 0.975rem;
		max-width: 17em;
	}
</style>
