<article>
	<img src="qr-code.png" alt="An image of a QR code">
	<h1>Improve your front-end skills by building projects</h1>
	<p>Scan the QR code to visit Frontend Mentor and take your coding skills to the next level</p>
</article>

<style>
	article
	{
		box-sizing: border-box;
		background: white;

		text-align: center;
		padding: 1rem;
		padding-bottom: 2.5rem;
		max-width: 20rem;

		box-shadow: 10px 10px 15px 5px #00000011;
	}

	article, img
	{
		border-radius: .75rem;
	}

	h1
	{
		margin: 2rem auto 1rem;
		color: hsl(218, 44%, 22%);
		font-size: 1.4rem;
		max-width: 12em;
	}

	p
	{
		margin: 0 auto;
		color: hsl(220, 15%, 55%);
		font-size: 0.975rem;
		max-width: 17em;
	}
</style>
