<html lang="en">
	<head>
		<base href="/frontendsolutions/">
		<title>{ Astro.props.title }</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">

		<slot name="head" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	body
	{
		min-height: 100vh;
		margin: 0;

		text-rendering: optimizeSpeed;
		shape-rendering: optimizeSpeed;
		image-rendering: pixelated;
	}

	h1, h2, h3, p
	{
		margin: 0;
	}

	img
	{
		display: block;
		max-width: 100%;
	}

</style>
