<html lang="en">
	<head>
		<title>{ Astro.props.title }</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">

		<slot name="head" />
	</head>
	<body>
		<slot />
	</body>
</html>


