<html>
	<head>
		<title>{ Astro.props.title }</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" href="favicon.svg" type="image/svg+xml">
		<link rel="icon" href="favicon.png" type="image/png" sizes="32x32">

		<slot name="head" />
	</head>
	<body>
		<slot />
	</body>
</html>


