---
import "@styles/global.css"
---

<html lang="en">
	<head>
		<title>{ Astro.props.title }</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="generator" content={ Astro.generator } />
		<meta name="author" content="sydist">
		<meta name="application" content="Frontend Solutions">

		<link rel="icon" type="image/svg+xml" href="/favicon.svg">
		<link rel="icon" type="image/png" href="/favicon.png">

		<slot name="head" />
	</head>
	<body>
		<slot />
	</body>
</html>
